/* [class*= "col"]{
    padding: 1rem;
    background-color: #33b5e5;
    border: 2px solid #fff;
    color: #fff;
}  */

.bg-first-color { 
	background: #F4A3B4; 
}
	
.bg-second-color { 
	background: #F4DDDF;
}

.bg-third-color { 
	background: #7C2142; 
}

.bg-fourth-color { 
	background: #fdfdc4;
}

.bg-fifth-color{
    background: #5F5935;
}

.content{
    padding-top: 86px;
}

h5{
    color: #DEB80B;
}

.dropdown-menu{
    min-width: 20rem !important;
}

@media only screen and (max-width: 576px) {
    .w-75{
        width: 100% !important;
    }
}

